# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/


# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
testcato_result/

# Distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
